$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.background {
  background-color: #928F82;
}

// HEADER
.jumbotron {
  background: url('/spooky-header.jpg');
  background-size: cover;
}

.site-title {
  text-align: center;
  font-family: 'Creepster', cursive;
}

//site-title color
.jumbotron h1 {
  color: #830303;
  font-size: 115px;

}
//title description
.jumbotron p {
  font-size: 25px;
}

.title-description {
  font-family: 'Baloo Paaji', cursive;
  text-align: center;
  color: #830303;
  font-size: 45px;
}
// HEADER END

// PRODUCTS FOR SALE
#monsters {
  padding-right: 95px;
  padding-left: 95px;
}

.monster-images {
  border: 3px solid #837046;
}

.monster-name {
  text-align: center;
  font-size: 25px;
}

.monster-price {
  text-align: center;
}

.single-monster {
  text-align: center;
}

.modal-body {
  background-color:  #928F82;
  color: white;
}

.modal-header {
  background-color: #010001;
}

.modal-title {
  text-align: center;
  color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #830303;
    border-color: #830303;
}

.modal-content {
    border-radius: 10px;
    border: 5px solid #837046;
}

span {
  color: white;
}

legend {
  text-align: center;
  color: #fff;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}


#add-to-cart {
    margin-left: 53%;
}

// p {
//   color: white;
//   font-weight: bold;
// }

img {
    vertical-align: middle;
    border-radius: 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

// PRODUCTS FOR SALE END
