$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.background {
  background-color: #928F82;
}

.sign-out-btn {
  text-align: center;
}

// HEADER
.jumbotron {
  background: url('../spooky-header.jpg');
  background-size: cover;
}

.site-title {
  font-family: 'Creepster', cursive;
  text-align: center;
}

//site-title color
.jumbotron h1 {
  color: #830303;
  font-size: 115px;

}
//title description
.jumbotron p {
  font-size: 25px;
}

.title-description {
  font-family: 'Baloo Paaji', cursive;
  text-align: center;
  color: #830303;
  font-size: 45px;
}
// HEADER END

// PRODUCTS FOR SALE
#monsters {
  padding-right: 95px;
  padding-left: 95px;
}

.monster-images {
  border: 3px solid #837046;
}

.monster-name {
  font-size: 35px;
  text-align: center;
  font-family: 'Creepster', cursive;
  color: #830303;
}

.monster-price {
  text-align: center;
  font-size: 20px;
}

.single-monster {
  text-align: center;
}
// PRODUCTS FOR SALE END


.modal-body {
  background-color:  #928F82;
  color: white;
}

.modal-header {
  background-color: #010001;
}

.modal-title {
  text-align: center;
  color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #830303;
    border-color: #830303;
}

.modal-content {
    border-radius: 10px;
    border: 5px solid #837046;
}

.past-order-form {
  text-align: center;
}

span {
  color: white;
}

legend {
  text-align: center;
  color: #fff;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}


#add-to-cart {
    margin-left: 53%;
}


.order-table {
 width: 100%;
 border-collapse: collapse;
 text-align: center;
}

td, th {

 padding: 6px;
 border: 1px solid #ccc;
 text-align: center;
}

#previous-orders {
  max-height: 200px;
  overflow: auto;
}

img {
  vertical-align: middle;
  border-radius: 10px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

#all-monsters {
  margin-left: 30%
}

.monster-name1 {
  font-size: 20px;

  font-family: 'Creepster', cursive;
  color: #830303;
}

.monster-price1 {
  font-size: 20px;
}

hr {
  width: 100%;
}

hr {
  width: 100%;
  margin-left: -20%;
}

// PRODUCTS FOR SALE END
