$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// PRODUCTS FOR SALE
// .monster-posts {
//
// }
//
// .monster-images {
//   // border: 5px solid #000000;
// }
//
.monster-name {
  text-align: center;
  font-size: 25px;
}

.monster-price {
  text-align: center;
}

// PRODUCTS FOR SALE END
